body {
  font-family: "Nikeflix", sans-serif;
  font-style: italic;
}
button {
  background-color: #f9f9f9;
  border: 0;
  color: #000000;
}
.logo {
  width: 70px;
  margin-left: 20px;
  padding: 0;
}
.carrito {
  align-items: end;
  width: 35px;
  height: 35px;
  stroke: #000;
}
.Titulo {
  font-family: "Nikeflix", sans-serif;
  font-style: italic;
  size: 200px;
  text-align: center;
  color: rgb(0, 0, 0);
}
.Subtitulo {
  text-align: center;
  font-family: "Nikeflix", sans-serif;
  font-style: italic;
}
/* Estilos para las tarjetas de producto */

.tarjeta-producto {
  border: 2px solid #000000;
  padding: 10px;
  margin: 23px;
  text-align: center;
  align-items: center;
  width: 250px;
  display: inline-block;
  vertical-align: top;
  border-radius: 30px;
  cursor: pointer;
}

.tarjeta-producto h2 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.tarjeta-producto p {
  font-size: 1em;
  margin-bottom: 10px;
}

.tarjeta-producto img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.navbar {
  margin-bottom: 20px;
}

/*contenedor de productos */
#productos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* Estilos para el botón "Agregar al Carrito" */
.tarjeta-producto button {
  background-color: #000;
  border: none;
  color: rgb(255, 255, 255);
  padding: 8px 15px;
  border-radius: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tarjeta-producto button:hover {
  background-color: #343333;
}

.container-fluid {
  padding: 0;
}
